<div class="index-container">
  <h3 class="mb-3">Lista: {{moviesIDs.name}}</h3>
  {{#if movies}}
  <div class="movies-grid">
    {{#each movies}}
      <div class="movie-card">
        <a href="/movies/{{this.id}}">
          <img
            src="https://image.tmdb.org/t/p/w500{{this.poster_path}}"
            alt="{{this.title}}"
            class="movie-poster"
          />
        </a>
        <h3 class="movie-title">{{this.title}}</h3>
        <form action="/lists/{{../moviesIDs._id}}/remove/{{this.id}}" method="POST">
          <button class="btn btn-danger">Eliminar</button>
        </form>
      </div>
    {{/each}}
  </div>
  {{else}}
  <p style="color: #e50914">No hay ninguna película añadida todavía</p>
  {{/if}}
</div>