<div class="users-container">
  <h3>Lista de Usuarios Registrados</h3>

  <table class="table table-hover table-dark table-bordered table-striped">
    <thead>
      <th style="text-align:center">游녻 Usuario</th>
      <th style="text-align:center">游닎 Email</th>
      <th style="text-align:center">游릭 Estado</th>
      <th style="text-align:center">游대 Banear</th>
      <th style="text-align:center">游대 Eliminar</th>
      <th style="text-align:center">游늯 Rese침as</th>
    </thead>
    <tbody>
      {{#each users}}
        <tr>
          <td style="text-align:center">{{this.username}}</td>
          <td style="text-align:center">{{this.email}}</td>
          <td style="text-align:center">{{this.status}}</td>
          <td style="text-align:center">
            <form action="/admin/users/{{this._id}}/ban" method="POST">
              <button class="btn btn-sm btn-warning">{{#if
                  this.isBanned
                }}Desbanear{{else}}Banear{{/if}}</button>
            </form>
          </td>
          <td style="text-align:center">
            <form action="/admin/users/{{this._id}}/delete" method="POST">
              <button class="btn btn-sm btn-danger">Eliminar</button>
            </form>
          </td>
          <td style="text-align:center">
            <a
              href="/admin/users/{{this._id}}/reviews"
              class="btn btn-outline-info btn-sm"
            >
              Ver rese침as
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</div>